.oloz-header {
	top: 0;
	text-align: center;

	img {
		width: 300px;
		vertical-align: top;
		padding: 12px 0;
		margin-left: 10vw;
		@media (max-width: $mobile-breakpoint) {
			margin-left: 0;
			width: auto;
			max-height: 80px;
			padding: 0;
		}
	}
	nav {
		float: right;
		padding-top: 27px;
		a {
			color: white;
			margin-right: 7vw;
			padding-bottom: 7px;
			font-size: 26px;
			&:hover {
				color: $oloz-green;
				border-bottom: 5px solid $oloz-green;
			}
		}
		@media (max-width: $mobile-breakpoint) {
			float: none;
			padding-top: 0;
			margin-top: -7px;
			a {
				font-size: 20px;
				padding-bottom: 0;
				&:hover {
					border-bottom: none;
					font-weight: bold;
				}
			}
		}
	}
}