.oloz-header {
	top: 0;

	img {
		width: 310px;
		max-width: 100%;
		vertical-align: top;
		padding: 22px 0;
		margin-left: 10vw;
		@media (max-width: 400px) {
			margin-left: 0;
			width: 100%;
		}
	}
	nav {
		float: right;
		padding-top: 43px;
	}
	a {
		text-decoration: none;
		color: white;
		padding-right: 7vw;
		&:hover {
			color: $oloz-green;
		}
	}
}