.oloz-header {
	top: 0;

	img {
		width: 300px;
		vertical-align: top;
		padding: 21px 0 18px 0;
		margin-left: 10vw;
		@media (max-width: 400px) {
			margin-left: 0;
			width: 100%;
		}
	}
	nav {
		float: right;
		padding-top: 36px;
		a {
			transition: .22s;
			text-decoration: none;
			color: white;
			margin-right: 7vw;
			padding-bottom: 7px;
			font-size: 26px;
			cursor: pointer;
			&:hover {
				color: $oloz-green;
			}
			&:hover, &.active {
				border-bottom: 5px solid $oloz-green;
			}
		}
	}
}