@import '_variables.scss';
@import '_helpers.scss';
@font-face {
    font-family: LiberationMono;
    src: url(../assets/fonts/LiberationMono-Regular.ttf);
}
@font-face {
    font-family: FranklinGothic;
    src: url(../assets/fonts/FranklinGothic-Demi-webfont.woff);
}

* {
	box-sizing: border-box;
}
html, body {
	margin: 0;
}
html {
	font-family: 'LiberationMono', Arial, sans-serif;
}
body {
	overflow-x: hidden;
}
h1, h2, h3 {
	color: $oloz-d-blue;
	font-family: 'FranklinGothic', Arial, sans-serif;
}

.oloz-header, .oloz-footer {
	position: fixed;
	left: 0;
	right: 0;
	background-color: $oloz-d-blue;
	color: white;
}
@import '_header.scss';
@import '_footer.scss';

.oloz-main {
	color: $oloz-black;
	position: fixed;
	bottom: 0;
	width: 303vw;

	section {
		height: 100vh;
		width: 100vw;
		padding: 0 2% 70px 2%;
		display: inline-block;;
		text-align: left;
		vertical-align: top;
	}

	@media (max-width: $mobile-breakpoint) {
		position: static;
		width: 100%;

		section {
			height: auto;
			width: 100%;
		}
	}
}
#oloz-home {
	padding-top: 4.7%;
	padding-top: 27vh;
}

#oloz-about, #oloz-work {
	padding-top: 16vh;
}
#oloz-about {

}
#oloz-work {

}