@import '_variables.scss';
@import '_helpers.scss';

* {
	box-sizing: border-box;
}
html {
	font-family: sans-serif;
	margin: 0;
}
body {
	margin: 0;
}
.oloz-header, .oloz-footer {
	position: fixed;
	left: 0;
	right: 0;
	background-color: $oloz-d-blue;
	color: white;
}
@import '_header.scss';
@import '_footer.scss';

.oloz-main {
	color: $oloz-d-blue;
	width: 303vw;
	overflow-y: auto;
	overflow-x: hidden;

	section {
		height: 100vh;
		width: 100vw;
		padding: 0 2% 70px 2%;
		display: inline-block;;
		text-align: left;
		vertical-align: top;
	}
}
#oloz-home {
	padding-top: 4.7%;
	padding-top: 27vh;
}

#oloz-about, #oloz-work {
	padding-top: 16vh;
}
#oloz-about {

}
#oloz-work {

}